<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>個人檔案頁面</title>
    <style>
      .posts {
        padding: 2rem;
      }
      section.user-info img {
        border-radius: 50%;
        display: inline-block;
        padding: 1rem 0.5rem;
      }
      section.user-info h1 {
        padding: 1rem 0.5rem;
      }
      .flex-container {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <section class="user-info">
      <div class="flex-container">
        <img src="<%= user[0].nail %>" alt="個人圖片" />
        <h1><%= user[0].name %>的個人檔案頁面</h1>
      </div>
      <ul>
        <li>Google信箱為： <%= user[0].emailaddress %></li>
      </ul>
    </section>

    <section class="posts">
      <% if (posts.length === 0) { %>
      <p>沒有找到任何貼文。</p>
      <% } else { %> <% posts.forEach(function(post) { %>
      <div class="card" style="width: 18rem; margin: 1rem">
        <div class="card-body">
          <h5 class="card-title"><%= post.post_title %></h5>
          <p class="card-text"><%= post.post_content %></p>
          <a href="#" class="btn btn-primary"> <%= post.post_date %> </a>
        </div>
      </div>
      <% }); %> <% } %>
    </section>
  </body>
</html>
